// Variables

// Theme
$red: #e11925;
$black: #000;
$white: #fff;
$gray: #dad7d6;

// Mixins
@mixin flex($property) {
    display: flex;
    justify-content: $property;
}

@mixin generateRatios($width, $height, $prefix: "ratio-") {
    $class-name: $prefix + $width + "x"+ $height;

    .#{$class-name} {
        padding-bottom: ratio($width, $height);
    }
}